@page
@model IndexModel

<div class="text-center">
    <h1 class="display-4">Модуль 1. Введение в ASP.NET Core</h1>
    <ul class="tasks">
        <li>
            <h3>Задание 1</h3>
            <p>
                Создайте и запустите базовое приложение ASP.NET 
                Core, построенное на основании ASP.NET Razor Pages. 
                В веб-странице выведите номер текущего дня в году.
            </p>
        </li>
        <li>
            <h3>Задание 2</h3>
            <p>
                Создайте и запустите базовое приложение ASP.NET 
                Core, построенное на основании ASP.NET Razor Pages.  
                В веб-странице в зависимости от случайного значения 
                отображайте любую букву из английского алфавита.
            </p>
        </li>
        <li>
            <h3>Задание 3</h3>
            <p>
                Создайте и запустите базовое приложение ASP.NET 
                Core, построенное на основании ASP.NET Razor Pages.
                Добавьте к базовому приложению новую страницу. Страница 
                должна отображать информацию о ресторане. Доступ к 
                странице по ссылке в верхнем меню страницы.
            </p>
        </li>
        <li>
            <h3>Задание 4</h3>
            <p>
                Добавьте к заданию 2 отображение списка ресторанов. 
                Используйте возможности CSS для форматирования 
                списка.
            </p>
        </li>
        <li>
            <h3>Задание 5</h3>
            <p>
                Создайте и запустите базовое приложение ASP.NET 
                Core, построенное на основании ASP.NET Razor Pages.  
                Добавьте к базовому приложению новую страницу. 
                Страница должна отображать информацию о странах. Доступ 
                к странице по ссылке в верхнем меню страницы. 
                Используйте возможности CSS для форматирования списка.
            </p>
        </li>
    </ul>
</div>
