@page
@model ASP_NET_HW_Module_01_part_01.Pages.Tasks.Task3Model

@{
	ViewData["Title"] = "Решение 3";
}

<h1>@ViewData["Title"]</h1>

<h2>Ресторан</h2>

<div class="restoran-body">

	<div class="restoran-body-text">
		<p>
			Рестора́н (от лат. restauro, восстановить, крепить) — предприятие общественного питания с широким ассортиментом блюд сложного приготовления, включая заказные и фирменные. Блюда, как правило, подаются и съедаются на месте в ресторане, но многие рестораны также предлагают блюда навынос и доставку еды, а некоторые предлагают только вынос и доставку. Рестораны сильно различаются по внешнему виду и предложениям, включая большое разнообразие кухонь и видов обслуживания, от недорогих ресторанов быстрого питания до семейных ресторанов со средней ценой и дорогих заведений класса люкс.
		</p>
		<p>
			Зачастую более крупные предприятия (например, гостиницы) имеют свои рестораны, расположенные на их территории, где услуги питания предоставляются для удобства проживающих и для увеличения потенциального дохода гостиницы.	
		</p>
	</div>

	<img src="/img/rest1.jpg" alt="restoran" class="restoran-body-pic"/>

</div>

