@page
@model ASP_NET_HW_Module_01_part_01.Pages.Tasks.Task4Model

@{
	ViewData["Title"] = "Решение 4";
}

<h1>@ViewData["Title"]</h1>

<h2>Стилезованный список ресторанов</h2>

<ul class="restoran-list">
	<li class="restoran-list-item">
		<a href="/Tasks/Task3" class="restoran-list-link">Dr. Живаго</a>
	</li>
	<li class="restoran-list-item">
		<a href="/Tasks/Task3" class="restoran-list-link">Обломов</a>
	</li>
	<li class="restoran-list-item">
		<a href="/Tasks/Task3" class="restoran-list-link">White Rabbit</a>
	</li>
</ul>

